nav {
    border-bottom: 1px solid black;
}

.topnav ol {
    list-style-type: none;
    padding-left: 0;
}

.topnav {
    display: inline-block;
}

.topnav a::after {
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
